---
title:     Amicus Project Start
bodyclass: newproject
---

.intro
  :markdown
    ## You're ready to start building!


.features
  .views-layouts
    :markdown
      ### Views & Layouts

      file for this project is <kbd>source/layout.haml</kbd>.
  .stylesheets-sass-compass
    :markdown
      ### Stylesheets, Sass &amp; Compass Test

      This project is pre-configured for [Sass](http://sass-lang.com) and
      [Compass](http://compass-style.org). Store your <kbd>sass</kbd> and TESTING!
      <kbd>scss</kbd> files in the <kbd>source/stylesheets</kbd> directory. TESTING

  .compass-plugins
    :markdown
      ### Compass Plugins

      Amicus includes support for [Susy](http://susy.oddbird.net/) by default.

.moreinfo
  :markdown
    # For More Info!

    * on the Susy grid system, check out [the official site](http://susy.oddbird.net/).

  =img_holder(:width => 300, :height => 200, :bgcolor => "#0c0", :fgcolor => "#fff", :text => "I'm an image placeholder!")


